<div class="About-bg">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="aboutheading">
                <h3>Sobre <span class="orange_color">Mi</span></h3>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 
 
       <div class="section layout_padding">
          <div class="container">
            
             <div class="row">
                <div class="col-md-6">
                   <img src="./assets/11-may-24.jpg" alt="#"  style="width: 600px; height: 500px;"/>
                </div>
                <div class="col-md-6">
                   <div class="full blog_cont"  style="width: 600px; height: 500px;">
                      <h4>Uriel Gómez Becerril</h4>
                      <h5>01-Diciembre-2003</h5>
                      <p>Estudiante en Ingenieria en Desarrollo y Gestión de Software.</p>
                      <br>
                      <a href="mailto:urielgb.ti21@utsjr.edu.mx">Correo de Contacto</a>
                   </div>
                </div>
             </div>

          </div>
       </div>
